fieldset {
  border: 0;
}

#login-button {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

#logout-button {
  margin-top: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
