.day {
  /* note: !important is needed to add styling to Material-UI components */
  width: 50px !important;
  min-width: 50px !important;
  height: 50px !important;
  border-radius: 100% !important;
  vertical-align: middle !important;
}

.day-highlight {
  /* note: !important is needed to add styling to Material-UI components */
  color: #E91E63 !important;
}

.day-highlight:hover {
  /* note: !important is needed to add styling to Material-UI components */
  background-color: #FCE4EC !important;
}

.boardRow {
  clear: both;
  display: table;
}

.calendar {
  display: inline-block;
}

#calendarHeader {
  /* note: !important is needed to add styling to Material-UI components */
  margin-bottom: 1rem !important;
  background-color: #E91E63 !important;
}